
<app-login></app-login>

<!--<head>-->
<!--  &lt;!&ndash; Outros elementos do cabeçalho &ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">-->
<!--</head>-->

<!--<div class="dashboard-container">-->
<!--  <div class="container pt-4">-->
<!--    <h1>Dashboard</h1> &lt;!&ndash; Adicionando o título "Dashboard" &ndash;&gt;-->
<!--    <div class="row">-->
<!--      <div class="container mt-2">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-6 col-md-3">-->
<!--            <div class="card card-custom">-->
<!--              <div class="card-body">-->
<!--                <h5 class="card-title">-->
<!--                  <span class="circle-icon" style="background-color: #25acbd">-->
<!--                    <i class="fas fa-university"></i>-->
<!--                  </span>-->
<!--                  Saldo Atual-->
<!--                </h5>-->
<!--                <p class="card-text">{{ saldo | currency:'BRL' }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6 col-md-3">-->
<!--            <div class="card card-custom">-->
<!--              <div class="card-body">-->
<!--                <h5 class="card-title">-->
<!--                  <span class="circle-icon" style="background-color: #31a131">-->
<!--                    <i class="fas fa-hand-holding-usd"></i> &lt;!&ndash; Ícone de receita &ndash;&gt;-->
<!--                  </span>-->
<!--                  Receitas-->
<!--                </h5>-->
<!--                <p class="card-text">{{ receitas | currency:'BRL' }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6 col-md-3">-->
<!--            <div class="card card-custom">-->
<!--              <div class="card-body">-->
<!--                <h5 class="card-title">-->
<!--                  <span class="circle-icon" style="background-color: #a21e1e">-->
<!--                    <i class="fas fa-shopping-cart"></i> &lt;!&ndash; Ícone de despesas &ndash;&gt;-->
<!--                  </span>-->
<!--                  Despesas-->
<!--                </h5>-->
<!--                <p class="card-text">{{ despesas | currency:'BRL' }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6 col-md-3">-->
<!--            <div class="card card-custom">-->
<!--              <div class="card-body">-->
<!--                <h5 class="card-title">-->
<!--                  <span class="circle-icon" style="background-color: #2c8bd3">-->
<!--                    <i class="fas fa-credit-card"></i> &lt;!&ndash; Ícone de cartão de crédito &ndash;&gt;-->
<!--                  </span>-->
<!--                  Cartão de Crédito-->
<!--                </h5>-->
<!--                <p class="card-text">{{ cartao | currency:'BRL' }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
